.header
  = link_to "Baby Life", root_path, class: 'header__title'
  - if user_signed_in?
    .header__btn
      = link_to "マイページ", "/users/#{current_user.id}",class: 'header__btn__all'
      = link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'header__btn__all'
      = link_to  "投稿する", new_post_path, class: "header__btn__post",class: 'header__btn__all'
  - else
    .header__btn
      = link_to "ログイン", new_user_session_path, class: 'header__btn__all'
      = link_to "新規登録", new_user_registration_path, class: 'header__btn__all'


