.main
  = render partial: 'side_bar'

  .content
    .content__text
      - @posts.each do |post|
        - if post.text.present?
          .content__box
            = image_tag post.image.url
            %p ðŸ“—è¨˜äº‹ã®å†…å®¹ ðŸ“—
            .content__title
              = post.title
            .more_list
            = link_to 'è©³ç´°', "/posts/#{post.id}", class: 'more_list__show', method: :get
            - if user_signed_in? && current_user.id == post.user_id
              = link_to 'ç·¨é›†', "/posts/#{post.id}/edit", class: 'more_list__show',method: :get
              = link_to 'å‰Šé™¤', "/posts/#{post.id}", class: 'more_list__show', method: :delete

            %div{:id => "favorites_buttons_#{post.id}"}
              = render partial: 'favorites/favorite', locals: { post: post}

            %div{:id => "relationships_buttons_#{post.user.id}"}
              = render partial: 'relationships/relationship', locals: { post: post}

            = link_to "æŠ•ç¨¿è€…:#{post.user.name}", "/users/#{post.user.id}",class: 'name'
           