.main
  = render partial: 'side_bar'

  .content
    .content__main
      - if @post.text.present?
        .content__box
          = image_tag @post.image.url
          %p 記事の内容
          .content__title
            = @post.title
          %p 本文
          .content__text_show
            = simple_format(@post.text)

          .more_list
          - if user_signed_in? && current_user.id == @post.user_id
            = link_to '編集', "/posts/#{@post.id}/edit", class: 'more_list__show',method: :get
            = link_to '削除', "/posts/#{@post.id}", class: 'more_list__show', method: :delete

    .comment
      - if current_user
        = form_for ([@post, @comment]) do |f|
          = f.text_area :text, placeholder: "コメントする", class: "textbox"
          = f.submit "SEND", class: "comment-submit"
      - else
        %p === コメントの投稿には新規登録/ログインが必要です ===
      .comments
        %h4 ＜コメント一覧＞
        - if @comments
          - @comments.each do |comment|
            %p
              %strong
                = link_to comment.user.name, "/users/#{comment.user_id}"
                ：
                = comment.text
                -# - if user_signed_in? && current_user.id == @post.user_id
                -#   = link_to '削除', "/comments/#{comment.id}", method: :delete
              -# = link_to '編集', "/posts/#{@post.id}/comments/#{comment.id}/edit", method: :get